header.hero {
    background-image: url('/assets/header.png');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    @include breakpoint(laptop) {
        background-position: center;
    }

    @import "./_navbar";
    @import "./_content";
}